{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h1>Test project home page</h1>

            <div>
                <p>Below is a DIV with secured content,
                which you may or may not be able to see depending on what the Voters are doing.</p>
                <p>Access Decision Manager strategy is set to 'unanimous' in the security configuration.</p>
            </div>

            {% if is_granted( "foo", "definitely-not-baa" ) %}
                <div style="font-weight: bold; font-style: italic; color: red; text-align: center; border: 3px dotted red; padding-top: 20px;">
                    <p>DIV with secured content.</p>
                    <p>I should not be visible.</p>
                </div>
            {% endif %}

        </div>
    </div>

    <div id="wrapper">
        <div id="container">
            <p>Output of `php bin/console debug:container --show-private | grep Voter`</p>
            <p>61ec92f65f3674424c73a456736d0a7dcf0c3ad8de62b997d49a1a9d45beb255_64    AppBundle\Security\Voter\Voter2</p>
            <p>61ec92f65f3674424c73a456736d0a7dcf0c3ad8de62b997d49a1a9d45beb255_65    AppBundle\Security\Voter\Voter1</p>
            <p>61ec92f65f3674424c73a456736d0a7dcf0c3ad8de62b997d49a1a9d45beb255_66    Symfony\Component\Security\Core\Authorization\Voter\RoleVoter</p>
            <p>61ec92f65f3674424c73a456736d0a7dcf0c3ad8de62b997d49a1a9d45beb255_67    Symfony\Component\Security\Core\Authorization\Voter\ExpressionVoter</p>
            <p>61ec92f65f3674424c73a456736d0a7dcf0c3ad8de62b997d49a1a9d45beb255_69    Symfony\Component\Security\Core\Authorization\Voter\AuthenticatedVoter</p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
